.App {
  text-align: center;
}

.loader{
  
}

.row {
  margin: auto;
}

form {
  display: block;
  transform: translate(50%, 50%);
}

input[type='text'] {
  outline: 0;
  background: transparent;
  font-size: 12px;
  height: auto;
  margin: auto;
  width: 60%;
  font-family: "Montserrat";
  display: block;
}

.App-link {
  color: #61dafb;
}